<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <title>Telemed Communication</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous" />  <!--Bootstrap only for styling-->
   <script
          src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script
          src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style>
  .container {
    background: rgb(148, 144, 144);
    margin: 50px auto;
    max-width: 80%;
    text-align: center;
  }

  button {
    margin: 1em;
  }

</style>
<body onload="javascript:getActiveModules()">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" id="communication" style="display: none">
          <a class="nav-link logintext"
             th:href="@{http://localhost:8081/}">Videocall und Chat</a>
        </li>
        <li class="nav-item" id="symptom" style="display: none">
          <a class="nav-link logintext"
             th:href="@{http://localhost:8082/}">Symptome</a>
        </li>
        <li class="nav-item" id="course" style="display: none">
          <a class="nav-link logintext"
             th:href="@{http://localhost:8083/}">Kurse</a>
        </li>
        <li class="nav-item" id="appointment" style="display: none">
          <a class="nav-link logintext"
             th:href="@{http://localhost:8085/}">Termine</a>
        </li>
      </ul>
      <h6 class="nav-link" href="#" id="currentUser"></h6>
      <form th:action="@{/logout}"
            method="post">
        <button type="submit" class="btn btn-primary"
                value="Sign Out">Sign Out</button>
      </form>
    </div>
  </nav>
  <h1 style="padding-left: 30px; padding-top: 10px">Videokonferenz</h1>

  <div class="container">
      <div class="row">
        <div class="col-md-3" style="text-align: left; margin-top: 10px">
          <p>Geben Sie den Benutzernamen ihres Arztes/Patienten an um eine Videokonferenz starten zu k&ouml;nnen!</p><input id="usernameInput" type="text" class="form-control"
                 placeholder="call username" style="margin-left: 15px">
          <button type="button" class="btn btn-primary" onclick='createOffer()'>Anrufen</button>

          <script src="client.js"></script>
        </div>
        <div class="col-md-3">
          <video style="width: 1500px; height: 750px" id="videostream" autoplay="true"></video>
        </div>
      </div>
    </div>
  </body>
</html>