<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <head>
    <title>Telemed Root</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="/style.css" />
    <script type="text/javascript" src="course.js"></script>
  </head>

  <body onload="javascript:getCurrentName(), getActiveModules()">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" id="communication" style="display: none">
          <a class="nav-link logintext"
             th:href="@{http://localhost:8081/}">Videocall und Chat</a>
        </li>
        <li class="nav-item" id="symptom" style="display: none">
          <a class="nav-link logintext"
             th:href="@{http://localhost:8082/}">Symptome</a>
        </li>
        <li class="nav-item" id="course" style="display: none">
          <a class="nav-link logintext"
             th:href="@{http://localhost:8083/}">Kurse</a>
        </li>
        <li class="nav-item" id="appointment" style="display: none">
          <a class="nav-link logintext"
             th:href="@{http://localhost:8085/}">Termine</a>
        </li>
      </ul>
      <h6 class="nav-link" href="#" id="currentUser"></h6>
      <form th:action="@{/logout}"
            method="post">
        <button type="submit" class="btn btn-primary"
                value="Sign Out">Sign Out</button>
      </form>
    </div>
  </nav>
  </body>
</html>