<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <head>
    <title>Telemed Root</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous" />

    <script>
      function getCurrentName() {
        var url = "http://localhost:8080/api/current"
        fetch(url)
                .then(response => response.text())
                .then(data => {
                  document.getElementById("currentUser").innerText = data;
                })

      }

      function getCurrentRole() {
        var url = "http://localhost:8080/api/current-role"
        fetch(url)
                .then(response => response.text())
                .then(data => {
                  console.log("1: ", data);
                    if(data == "DOCTOR") {
                      console.log("2");
                      document.getElementById("administration").style.display = "";
                    }
                  })
      }

      function addDoctor() {
        const firstName = document.getElementById("doctorFirstName").value;
        const username = document.getElementById("doctorUsername").value;
        const lastName = document.getElementById("doctorLastName").value;
        const password = document.getElementById("doctorPassword").value;
        const mail = document.getElementById("birthdate").mail;
        const birthdate = document.getElementById("birthdate").value;

        const newDoctor = {
          "firstName": firstName,
          "lastName": lastName,
          "username": username,
          "password": password,
          "birthdate":birthdate,
          "mail":mail
        }

        fetch('http://localhost:8080/api/doctor-save/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-XSRF-TOKEN': getCookie('XSRF-TOKEN')
          },
          body: JSON.stringify(newDoctor)
        })
                .then(response => {
                  console.log(response);
                })
                .catch(error => {
                  console.error(error);
                });
      }

      function getActiveModules() {
        var url = "http://localhost:8080/api/active-modules"
        fetch(url)
                .then(response => response.text())
                .then(data => {
                  var props = data.split(",");

                  var communicationElement = document.getElementById("communication");
                  var symptomElement = document.getElementById("symptom");
                  var courseElement = document.getElementById("course");
                  var appointmentElement = document.getElementById("appointment");

                  if(props[1]) {
                    document.getElementById("navbarSupportedContent").style.backgroundColor = props[1].split("=")[1];
                  }

                  if(props[2]) {
                    document.getElementById("praxisname").innerText = props[2].split("=")[1];
                  }

                  var propsMods1 = props[0].split("=");
                  var propsMods2 = propsMods1[1].split("-");
                  console.log("propsMods2 ", propsMods2);

                  for(var i = 0; i < propsMods2.length; i++) {
                    if(propsMods2[i] == "SYMPTOM") {
                      document.getElementById("symptom").style.display = "";
                    }

                    if(propsMods2[i] == "APPOINTMENT") {
                      document.getElementById("appointment").style.display = "";
                    }

                    if(propsMods2[i] == "COMMUNICATION") {
                      document.getElementById("communication").style.display = "";
                    }

                    if(propsMods2[i] == "COURSE") {
                      document.getElementById("course").style.display = "";
                    }
                  }
                })

        var urlLgo = "http://localhost:8080/api/logo";
        fetch(urlLgo)
                .then(response => response.text())
                .then(data => {
                  var imageByteArray = data;
                  document.getElementById("logo").src = "data:image/png;base64," + imageByteArray;
                })
      }

      function getCookie(name) {
        const cookieValue = document.cookie
                .split(';')
                .map(cookie => cookie.trim())
                .find(cookie => cookie.startsWith(`${name}=`));

        if (!cookieValue) {
          return null;
        }

        return cookieValue.substring(name.length + 1);
      }


    </script>

  </head>
  <body onload="javascript:getCurrentName(), getActiveModules(), getCurrentRole()">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <img id="logo" style="width: 80px; height: auto"/>
        <h6 class="nav-link" href="#" id="praxisname"></h6>
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" id="communication" style="display: none">
          <a class="nav-link logintext"
             th:href="@{http://localhost:8081/}">Videocall und Chat</a>
        </li>
        <li class="nav-item" id="symptom" style="display: none">
          <a class="nav-link logintext"
             th:href="@{http://localhost:8082/}">Symptome</a>
        </li>
        <li class="nav-item" id="course" style="display: none">
          <a class="nav-link logintext"
             th:href="@{http://localhost:8083/}">Kurse</a>
        </li>
        <li class="nav-item" id="appointment" style="display: none">
          <a class="nav-link logintext"
             th:href="@{http://localhost:8085/}">Termine</a>
        </li>
      </ul>
      <h6 class="nav-link" href="#" id="currentUser"></h6>
      <form th:action="@{/logout}"
        method="post">
        <button type="submit" class="btn btn-primary"
               value="Sign Out">Sign Out</button>
      </form>
    </div>
  </nav>

    <div layout:fragment="content" style="margin-top: 50px; margin-left: 20px">
        <h1>Guten Tag! Bitte werfen Sie ein Blick auf unsere Services, aufrufbar in der Navigation!</h1>
    </div>

    <div id="administration" style="display: none">
      <div layout:fragment="content" style="margin-top: 50px; margin-left: 20px;">
        <h3>Administration</h3>
        <p>In diesem Bereich können Sie neues medizinisches Personal hinzufügen</p>
          Username: <input type="text" id="doctorUsername"><br>
          Vorname: <input type="text" id="doctorFirstName"><br>
          Nachname: <input type="text" id="doctorLastName"><br>
          Passwort: <input type="password" id="doctorPassword"><br>
          Geburtsdatum: <input type="date" id="birthdate"/><br>
          Email: <input type="date" id="mail"/><br>
        <button class="btn btn-primary" onclick="addDoctor()"></button>

      </div>
    </div>

  </body>
</html>
